{{template "header" .}}

<form id="form" action="/upload" method="post" enctype="multipart/form-data" onsubmit="return formSubmit()">
  <div class="form-block">
    <label id="form-file-label" class="form-file-label" for="form-file">Select file</label>
    <input id="form-file" class="form-file" type="file" name="file"/>
    <p class="form-p">.gif, .jpeg, and .png</p>
  </div>

  <div class="form-block">
    <label class="form-text-label" for="form-x">X offset (px)</label>
    <input id="form-x" class="form-text" type="number" name="x" placeholder="0"/>
  </div>

  <div class="form-block">
    <label class="form-text-label" for="form-y">Y offset (px)</label>
    <input id="form-y" class="form-text" type="number" name="y" placeholder="0"/>
  </div>

  <div class="form-block">
    <label class="form-text-label" for="form-width-l">Left monitor width (px)</label>
    <input id="form-width-l" class="form-text" type="number" name="width-l" placeholder="1920"/>
  </div>

  <div class="form-block">
    <label class="form-text-label" for="form-width-r">Right monitor width (px)</label>
    <input id="form-width-r" class="form-text" type="number" name="width-r" placeholder="1920"/>
  </div>

  <div class="form-block">
    <label class="form-text-label" for="form-height">Tallest monitor height (px)</label>
    <input id="form-height" class="form-text" type="number" name="height" placeholder="1080"/>
  </div>

  <div class="form-block">
    <label class="form-text-label" for="form-gap">Monitor gap (px)</label>
    <input id="form-gap" class="form-text" type="number" name="gap" placeholder="150"/>
  </div>

  <div class="form-block">
    <input class="form-btn" type="submit" value="Upload"/>
  </div>
</form>

<script src="/static/js/script.js"></script>

{{template "footer" .}}
